body {
    background-color: #f9ecf7;
    font-family: 'Unbounded';
    font-size: 18px;
    color: #000000;
    line-height: 1.6;
    margin: 20px;
};

h1 {
    color: #000000;
    text-align: center;
    font-size: 42px;
    letter-spacing: 2px;
}

h2 {
    color: #3a1a2f;
    font-size: 30px;
}

p {
    padding: 16px;
    border-radius: 12px;
}


/* посилання */
a {
    color: #3762ae;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: #761a6e;
}

.main-table {
    border: 2px solid black;
    border-collapse: collapse;
}

.main-table td,
.main-table th {
    border: 2px solid black;
    padding: 10px;
}

#important-title {
    color: darkred;
    width: fit-content;
    font-weight: bold;
    background-color: #fae9e9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
}

.special-note {
    color: red !important;
}

ul {
    padding: 20px;
    padding-left: 40px;
    border-left: 4px solid #C080A0;
    border-bottom: 4px solid #C080A0;
    border-radius: 16px;
}

ol {
    padding: 20px;
    padding-left: 40px;
    border-left: 4px solid #C080A0;
}

dl {
    padding: 20px;
    padding-left: 40px;
    border-left: 4px solid #C080A0;
    border-top: 4px solid #C080A0;
    border-radius: 16px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 60px;
    background-color: white;
}

th {
    background-color: #D8BFD8;
    color: black;
    padding: 64px;
    border: 2px solid #999;
}

td {
    padding: 10px;
    border: 1px solid #999;
    text-align: center;
}

caption {
    padding-top: 24px;
    margin-bottom: 16px;
    font-size: 28px;
}