body {
    background-color: #f9ecf7;
    font-family: 'Unbounded';
    font-size: 18px;
    color: #000000;
    line-height: 1.6;
    margin: 20px;
};

h1 {
    color: #000000;
    text-align: center;
    font-size: 42px;
    letter-spacing: 2px;
}

h2 {
    color: #3a1a2f;
    font-size: 30px;
}

h2::before {
    content: " ♫ ";
}

p {
    padding: 16px;
    border-radius: 12px;
}


/* посилання */
a {
    color: #3762ae;
    text-decoration: none;
    font-weight: normal;
}

a:visited {
    color: #5C2A4A;
}

a:link {
    color: #3762ae;
}

a:hover {
    color: #9e719a;
}

a:active {
    color: red;
}

.main-table {
    border: 2px solid black;
    border-collapse: collapse;
}

.main-table td,
.main-table th {
    border: 2px solid black;
    padding: 10px;
}

#important-title {
    color: darkred;
    width: fit-content;
    font-weight: bold;
    background-color: #fae9e9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
}

#important-title::after {
    content: "!! ";
    color: rgb(0, 0, 0);
}

.special-note {  
    color: red !important;
}

ul {
    padding: 20px;
    padding-left: 40px;
    border-left: 4px solid #C080A0;
    border-bottom: 4px solid #C080A0;
    border-radius: 16px;
}

ol {
    padding: 20px;
    padding-left: 40px;
    border-left: 4px solid #C080A0;
}

dl {
    padding: 20px;
    padding-left: 40px;
    border-left: 4px solid #C080A0;
    border-top: 4px solid #C080A0;
    border-radius: 16px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 60px;
    background-color: white;
}

th {
    background-color: #D8BFD8;
    color: black;
    padding: 64px;
    border: 2px solid #999;
}

td {
    padding: 10px;
    border: 1px solid #999;
    text-align: center;
}

caption {
    padding-top: 24px;
    margin-bottom: 16px;
    font-size: 28px;
}

/* контекстний селектор до елемента всередині іншого */
ul li {
    color: #5C2A4A;
}

/* дочірній селектор */
body > h1 {
    text-transform: uppercase;
}

/* сусідній селектор */
h2 + ul {
    background-color: #dae4f3bd;
}

.navigation ul {
    overflow: hidden;
    float: left;
}

.navigation li {
    float: left;
    margin-right: 128px;
}

.highlight {
    color: rgb(65, 0, 91);
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(205, 197, 247);
}

/* властивість position в info */
.fixed-note {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fae9e9;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #C080A0;
}

.contacts-info p:first-child {
    background-color: rgb(189, 210, 233);
    border-radius: 12px;
    padding: 10px;
    font-weight: bold;
}

button {

    background-color: #C080A0;
    color: white;
    font-family: 'Unbounded';
    font-size: 16px;
    padding: 14px 24px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    margin-left: 200px;
}